.enlarge {
  width: 12em;
  text-align: center;
}

.c-cont {
  max-width: 80em;
}

.calendar-day {
  width: 8.5em;
  height: 8.5em;
  padding: 1em;
  border: 1px solid var(--Primary);
}

.calendar-day.tr {
  border-top-width: 2px;
}

.calendar-day.tr.l {
  border-top-left-radius: 0.4em;
}

.calendar-day.tr.r {
  border-top-right-radius: 0.4em;
}

.calendar-day.br.l {
  border-bottom-left-radius: 0.4em;
}

.calendar-day.br.r {
  border-bottom-right-radius: 0.4em;
}

.calendar-day.l {
  border-left-width: 2px;
}

.calendar-day.r {
  border-right-width: 2px;
}

.calendar-day.br {
  border-bottom-width: 2px;
}

.calendar-day h4 {
  min-width: 3em;
  margin: 0 auto;
  text-align: center;
  margin-top: 0.3em;
}

.calendar-day h4::after {
  content: "";
  position: absolute;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  transition: all 0.2s;
  margin: 0 auto;
}

.calendar-day h4:hover::after {
  background-color: rgba(0, 99, 65, 0.2);
}

.calendar-day.past h4 {
  opacity: 0.4;
}

.calendar-day .today, .calendar-day .today:hover {
  background-color: var(--Primary);
  color: white;
}

.calendar-day .entry {
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s;
  border-radius: 0.2em;
  padding: 0.2em;
  white-space: nowrap;
  width: 14em;
  max-width: 99%;
  display: block;
}

.calendar-day .entry:hover {
  background-color: rgba(0, 99, 65, 0.2);
}

@media (max-width: 800px) {
  .enlarge {
    width: auto;
  }

  .calendar-day {
    width: calc(100% / 7);
    border: none;
    height: auto;
    min-height: 6em;
    padding: 0px;
    border-width: 1.5px !important;
  }

  .calendar-day h5 {
    margin-bottom: 1em;
  }

  .calendar-day h4 {
    min-width: auto;
  }
}
