#blog {
  margin-top: 7.5em;
}

.b-s {
  color: var(--Tertiary);
  background-color: var(--Primary);
  border-radius: 50%;
  font-size: 1em;
  height: 2.5em;
  width: 2.5em;
  margin: 0.8em;
}

.b-c {
  margin: 0 auto;
}


.b-c p {
  margin-top: 1em;
}

.b-c h2 {
  margin-top: 2em;
}

.b-c h4, .b-c h3 {
  margin-top: 2em;
}

.b-c h4.l {
  width: 48%;
}

.b-c-i {
  margin: 0 auto;
  margin-top: 1.5em;
  border-radius: 0.4em;
  max-height: 50em;
  max-width: 50em;
  height: fit-content;
  width: fit-content;
}

.b-c-i img {
  width: 100%;
  height: 100%;
  display: block;
}

@media (max-width: 800px) {
  .half-width {
    width: 90%;
  }
}
