.single > a, .pair > a {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.single {
  width: 90%;
  height: 47em;
  position: relative;
  border-radius: 0.4em;
}

.single.sm {
  margin-top: 2em;
  height: 25em;
}

.pair {
  width: calc(45% - 1em);
  margin: 1em;
  margin-top: 2em;
  height: auto;
  min-height: 36em;
  position: relative;
  border-radius: 0.4em;
}

.pair.l {
  margin-left: 0em;
}

.pair.r {
  margin-right: 0em;
}

.pair iframe {
  border-radius: 0.4em;
}

.pair:hover iframe {
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
}

.single .evimg {
  width: 50%;
  height: 100%;
  border-radius: 0.4em;
  transition: all 0.2s;
}

.single:hover .evimg {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.evimg img, .evimg iframe {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.single .evimg + div {
  margin-left: 1em;
  max-width: 40%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.pair .evimg {
  width: 100%;
  height: 18em;
  border-radius: 0.4em;
  transition: all 0.2s;
}

.pair:hover .evimg {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.pair .evimg + div {
  margin-top: 1em;
  max-height: 40%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.ev-fc {
  height: 16em;
  width: 16em;
  border-radius: 0.4em;
  margin-bottom: 0.5em;
}

@media (max-width: 800px) {
  .single {
    width: 90%;
    min-height:45em;
    height: auto;
    position: relative;
    border-radius: 0.4em;
  }

  .single.sm {
    min-height: 53em;
  }

  .ev-fc {
    margin-top: 1em;
  }

  .single .evimg {
    width: 100%;
    height: 20em;
    border-radius: 0.4em;
    transition: all 0.2s;
  }

  .single .evimg + div {
    max-width: 100%;
  }

  .single:hover .evimg, .pair:hover .evimg {
    border-radius: 0;
  }

  .pair {
    width: 90%;
    margin-left: 0;
    margin-right: 0;
  }
}
