.footer {
  min-height: 19em;
  padding-bottom: 1.5em;
  position: relative;
  background-color: var(--Tertiary);
}

.footer > .iconion {
  max-height: 15em;
  margin-right: 2em;
}

.footer a:hover {
  color: var(--Secondary);
}

.footer a, .footer p {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  align-items: center;
}

.footer a svg, .footer p svg {
  font-size: 1.1em;
  cursor: pointer;
}

.footer a span.opaque, .footer p span.opaque {
  margin-left: 0.8em;
  font-size: 1em;
  cursor: pointer;
}

.copyright-creds {
  position: absolute;
  bottom: 0.8em;
}

.creds-ref {
  color: #EC1A3D;
}

.toe {
  min-width: 10em;
  max-width: 25em;
  margin-left: 1em;
  margin-right: 1em;
}

@media (max-width: 800px) {
  .footer {
    padding-top: 1em;
    min-height: 7em;
    justify-content: center;
    padding-bottom: 12em;
  }

  .copyright-creds {
    bottom: 8em;
  }

  .footer * {
    text-align: center;
    justify-content: center;
  }

  .toe {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .toe br {
    display: none;
  }

  .footer a:not(.creds-ref), .footer p {
    font-size: 0.9em;
  }

  .copyright-creds {
    display: block;
    width: 90%;
    margin-left: 5%;
    text-align: center;
  }
}
