.g-c {
  width: 80%;
  margin: 0 auto;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.g-ca {
  width: 15em;
  height: 15em;
  border-radius: 0.4em;
  margin: 1em;
}

.g-ca img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
