nav {
  min-height: 4em;
  margin: 0 auto;
  padding: 0.4em 0.5em 0.4em 0.5em;
  background-color: var(--Tertiary);
  position: absolute;
  top: 0;
}

nav.full-width {
  width: calc(100% - 1em);
}

nav.trans {
  background-color: transparent;
}

nav.bigger {
  min-height: 8em;
}

.tb-l {
  position: absolute;
  bottom: 0;
  height: 0.3em;
  width: 100%;
}

.tb-l .g {
  border-radius: 0.2em;
  background-color: var(--Primary);
  height: 100%;
}

.tb-l .w {
  border-radius: 0.2em;
  background-color: #FFF !important;
  height: 100%;
}

.tb-l .r {
  border-radius: 0.2em;
  background-color: var(--Secondary);
  height: 100%;
}

nav.collapses {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  overflow: hidden;
  visibility: hidden;
  min-height: 0 !important;
  height: 0px !important;
  transition: min-height 0.2s;
}

nav.collapses.show {
  visibility: visible;
  height: auto;
  min-height: 64px !important;
}

nav.elevate {
  z-index: 10000;
  margin-bottom: 0.5em;
  box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.2);
}

nav .iconion {
  margin-left: 0.8em;
  margin-right: 0.8em;
  height: 4.5em;
  object-fit: contain;
}

nav.bigger .iconion {
  height: 7em;
}

nav *:not(.spacer) {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.nav-tab {
  min-width: 8em;
  text-align: center;
  height: 2.5em;
  position: relative;
  transition: all 0.3s;
  border-radius: 1.5em;
}

.has-bg > nav * {
  z-index: 1;
}

.nav-tab:hover {
  color: var(--PrimaryTint);
}

@media (max-width: 800px) {
  .nav-tab:not(.keep) {
    display: none;
  }
}
